.todo {
  background-color: #d8d7d7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  &__main-title {
    font-size: 55px;
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    &-input,
    &-add-btn {
      border: 1px solid #333333;
      border-radius: 10px;
      color: #333333;
    }
    &-input {
      width: 60%;
      height: 20px;
      padding: 10px;
      outline: none;
      font-size: 16px;
      background-color: #f2f2f2;
    }
    &-add-btn {
      width: 30%;
      font-size: 16px;
      background-color: #cce7fa;
      transition: all .5s;
      
      &:hover {
        background-color: #333333;
        color: #f2f2f2;
        transition: all .5s;
      }
    }
  }
}