.todo-list {
  width: 100%;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;


  &__item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }
    &--success {
      background-color: #76b785;
      color: #155724;
      
      .todo-list__item-text {
        font-style: italic;
        font-weight: bold;
        text-decoration: line-through;
        text-decoration-color: #333333;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-checkbox {
      margin-right: 10px;
    }
    &-btn {
      border: none;
      background-color: unset;
      transition: all .5s;

      img {
        width: 30px;
        height: auto;
      }

      &:hover {
        border: 1px solid #dc3545;
        border-radius: 10px;
        transform: scale(1.1);
      }
    }
  }
}